*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #2acfb9;
}
#image-home{
    width:90%;
}
#menu-link:hover{
    color: #0051DE !important;
}
.body-register{
    background:#0051DE;
    background: linear-gradient(to right, #bad3ff, #3577e9);
}
.bg{
    background-image:url('../img/image_register.svg');
    background-position:center center;
}